<div class="main">
	<div id = "header">
		<div id = "logo">MyApp</div>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About Me", "about" %></li>
			<li><%= link_to "Blog", posts_path %></li>
		</ul>
	</div>
	<%= form_for(@post) do |f| %>
	<%= f.text_field :name, placeholder: "name" %><br>
	<%= f.text_area :content, placeholder: "write post here" %><br>
	<%= f.submit :create, class: "button" %>
	<%end%>
	<div id ="footer">
		<a href = "https://www.facebook.com/JoshofThere"><%= image_tag("facebook-dreamstale25.png", class: "some-space")%></a>
		<a href = "https://twitter.com/DaWall147"><%= image_tag("twitter-dreamstale71.png", class: "some-space") %></a>
		<a href = "https://github.com/jkings454"><%= image_tag("github2-dreamstale35.png", class: "some-space")%></a>
		<a href = "https://plus.google.com/u/0/108557421738692869239/posts"><%= image_tag("google+-dreamstale37.png", class: "some-space") %></a>
	</div>
</div>